html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Placement of Info button */
.buttonContainer {
  position: absolute;
  top: 10px; /* Moves button up/down - 0 it far top */
  right: 0px; /* Moves button left/right- 0 is far right */
  width: 15%;
  height: 10%;
  display: flex;
  align-iems: center;
  justify-contnt: center;
}

/* Info button visual appearance */
.clickButton {
  padding: -30px 20px;
  background: #633063;
  border: 20;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
}

/* Size & appearance of popup box*/
.popup {
  width: 210px;
  background: #a80edc;
  border-radius: 60px;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(100%, 200%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333; /* Button background color */
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

/* Show where the popup box displays on page */
.open-popup {
  visibility: visible;
  top: 308%; /* 0 moves center of box to top of page */
  left: -1%;
  transform: translate(-50%, -50%) scale(1);
}

/* Header Text appearance */
.popup h2 {
  font-size: 18px;
  color: #ada5a5;
}
/* Hyperlink appearance */
.popup a {
  font-size: 18px;
  font-weight: bold;
  color: #061062;
}
/* Sub Text appearance */
.popup p {
  font-weight: bold;
  color: #000000;
}

/* Appearance of Close Popup button */
.popup button {
  width: 80%;
  margin-top: 50px;
  padding: 10px 0;
  background: #a6a3a8;
  color: #040009; /* Color of text */
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}